.app {
  text-align: center;
  background-image: url('/library.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: 'Crimson Text', 'sans-serif';
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.search {
  padding: 20px;
  font-size: 30pt;
  background: transparent;
  border: 0px;
  width: 70%;
  outline: 0px;
  font-family: 'Crimson Text', 'sans-serif';
  color: #ddd;
  border-bottom: 2px solid #ddd;
  font-style: italic;
}
.search:focus {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.books {
  width: 65%;
  margin-top: 30px;
}
.seach-results {
  height: 65px;
  padding: 0px;
  border: 0px;
  color: #fff;
  border-bottom: 2px solid #fff;
  text-align: left;
  font-size: 50px;
  text-transform: uppercase;
}
.book {
  border-bottom: 0.1px #aaa solid;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 55px;
  position: relative;
}
.book-row p {
  display: inline;
  font-size: 12pt;
}
.book-label {
  text-transform: uppercase;
  color: #fff;
  padding-right: 20px;
  font-weight: bold;
}
.book-value {
  color: #aaa;
}
.book:hover {
  background-color: #000;
}
.add-to-list {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  right: 5px;
  font-size: 10pt;
  bottom: 5px;
  cursor: pointer;
}
.book-preview {
  width: 74%;
}
.book-title {
  padding: 0px;
  color: #fff;
  text-align: left;
  font-size: 50px;
  position: relative;
}
.book-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -50px;
  border-top: 2px solid #fff;
}
.book-content .book-row {
  display: flex;
  height: 45px;
  align-items: flex-start;
}
.book-cover-preview {
  background-color: rgba(255, 255, 255, 0.3);
  width: 200px;
}
.book-cover-preview p {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 13pt;
  margin: 10px;
  padding: 25px;
  position: relative;
  top: 30%;
}
.add-to-list-panel {
  background-color: #000;
  border-top: 0.1px #ddd solid;
  position: relative;
  top: -50px;
}
.add-to-list-panel .add-to-list {
  position: static;
  padding: 10px;
  font-size: 13pt;
}
.buttons {
  position: absolute;
  top: 10px;
  left: 10px;
}
button {
  background: transparent;
  color: #fff;
  font-size: 10pt;
  border: 0;
  outline: 0px;
  font-family: 'Crimson Text', 'sans-serif';
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(255, 255, 255, 0.8);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.8);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.8);
}
::-webkit-input-placeholder:focus {
  /* WebKit, Blink, Edge */
  color: rgba(255, 255, 255, 0.8);
}
:-moz-placeholder:focus {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
::-moz-placeholder:focus {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
:-ms-input-placeholder:focus {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.8);
}
::-ms-input-placeholder:focus {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.8);
}
